@import url('https://fonts.googleapis.com/css?family=Rubik Mono One');
@font-face {
    font-family: Margarine-Regular;
    src: url("font/Margarine-Regular.ttf");
}

/*
Init
*/

:root{
    --background: #111111;
    --textcolor: #B4B4B4;
    --textTitle: #EEEEEE;
    --buttonBackground: #000000;
    --colorOver: #0090FF;
    --backgroudCard: #2A2A2A;
    --backgroudPhoto: #D9D9D9;
    --flou: #289DF2;
    --border: #606060;
    --borderLang: #7B7B7B;
    --separator: #3A3A3A;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

#imgHead{
    width: 100%;
    display: flex;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--background);
}

/*
Header
*/

nav{
    max-width: 1400px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-picture img{
    max-width: 75px;
}

.nav-picture{
    display: flex;
    gap: 2em;
}

#menu{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--textTitle);
    font-family: 'Rubik Mono One', sans-serif;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--colorOver);
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}

#darkMode{
    position: relative;
    background-color: var(--buttonBackground);
    width: 6.5rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

#darkModeBtn{
    background-color: #FFFFFF;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 1.5rem;
    margin-left: 0.4rem;
    z-index: 1;
    transition: transform .3s ease;
}

#imgMoonBtnDarkMode{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    margin-left: 1rem;
}

#imgSunBtnDarkMode{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    margin-left: 4rem;
}

.modeDark{
    transform: translateX(3.5rem);
}

/*
Head
*/
.header{
    max-width: 1300px;
    margin: auto;
    padding: 7rem 2rem;
    display: flex;
    justify-content: space-between;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 500px;
    text-align: center;
}

.info h1{
    color: var(--textTitle);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 42px;
}

.info p{
    color: var(--textcolor);
    font-family: 'Margarine-Regular', sans-serif;
    font-size: 16px;
}

.header-picture{
    min-width: 350px;
    max-width: 300px;
}

.container {
    position: absolute;
    width: 1250px;
    height: 500px;
    z-index: -1;
}

.box {
    position: absolute;
    width: 8em;
    height: 8em;
    border-radius: 10em;
    background-color: var(--flou);
    transition: transform .3s ease;
    filter: blur(100px);
}

/*
Compétence
*/

.competence{
    max-width: 1200px;
    margin: auto;
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.competenceTitle{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--textTitle);
    font-size: 25px;
}

.competenceInfo{
    display: flex;
    justify-content: space-between;
}

.competenceCat{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.classTitle{
    font-size: 17px;
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--textTitle);
    margin-bottom: 0.5rem;
}

.item{
    display: flex;
    gap: 0.8rem;
}

.item p{
    font-size: 17px;
    font-family: 'Margarine-Regular', sans-serif;
    color: var(--textcolor);
}

.item img{
    min-width: 18px;
    min-height: 18px;
}

.item svg{
    min-width: 24px;
    min-height: 24px;
}

.item:hover{
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 2px var(--flou));
}

/*
Projet
*/

.myProjects{
    max-width: 1400px;
    margin: auto;
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projectTitle{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--textTitle);
    font-size: 25px;
}

/*
.allCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

.card{
    background-color: var(--backgroudCard);
    width: 18rem;
    height: 22rem;
    border-radius: 20px;
}

.cardPhoto{
    background-color: var(--backgroudPhoto);
    width: 16rem;
    height: 10rem;
    margin: 1rem auto auto;
    border-radius: 10px;
}

.cardTitle{
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--textTitle);
    text-align: center;
    margin-top: 0.8rem;
}

.allCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

.card{
    background-color: var(--backgroudCard);
    width: 20rem;
    height: 16rem;
    border-radius: 20px;
    border: 1px solid var(--border);
    overflow: hidden;
    transition: transform .3s;
}

.blur{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(10px);
    position: relative;
    height: 2rem;
    width: 20rem;
    margin-top: 14rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid var(--border);
    z-index: 2;
}

.cardTitle{
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--background);
}

#card1{
    background: url("images/Le_loup_et_mouton.png");
    background-size: cover;
}

#card2{
    background: url("images/mastermind.png");
    background-size: cover;
}*/

.allCard{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;*/
}

.card{
    background-color: var(--backgroudCard);
    border-radius: 1.5rem;
    min-height: 35rem;
    min-width: calc(1300px /3);
    max-width: calc(1300px /3);
    transition: transform .3s ease;
    margin: auto;
}

.cardTitle{
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--textTitle);
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-size: 22px;
}

.cardDesc{
    font-family: 'Margarine-Regular', sans-serif;
    color: var(--textcolor);
    margin-left: 1rem;
    margin-top: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    max-width: 25rem;
}

.language{
    display: flex;
    gap: 0.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.lang{
    border: 2px solid var(--borderLang);
    border-radius: 2rem;
    color: var(--textcolor);
    font-family: 'Margarine-Regular', sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
}

.imgCard{
    height: 18rem;
    margin-top: 1.5rem;
}

#img1{
    background: url("images/Le_loup_et_mouton.png") no-repeat center;
    background-size: contain;
}

#img2{
    background: url("images/mastermind.png") no-repeat center;
    background-size: contain;
}

#img3{
    background: url("images/cholage.png") no-repeat center;
    background-size: contain;
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 10px var(--flou));
}

/*
Contact
*/

.contact{
    max-width: 1400px;
    margin: auto;
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.contactTitle{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--textTitle);
    font-size: 25px;
}

.allContact{
    display: flex;
    gap: 5rem;
}

.logo{
    width: 20rem;
    height: 20rem;
    background-size: contain;
}

.logo svg{
    width: 100%;
    height: 100%;
}

.separator{
    width: 0.5rem;
    height: 20rem;
    background-color: var(--separator);
    border-radius: 2rem;
}

.contactLink{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.linkContact,.linkContactCVDowload{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    height: 5rem;
    background-color: var(--backgroudCard);
    border: 2px solid var(--borderLang);
}

.linkContact{
    padding: 2rem;
    display: flex;
    align-items: center;
}

.linkContact svg{
    margin-left: 1rem;
    min-width: 30px;
    min-height: 30px;
}

.linkContact p{
    font-family: 'Margarine-Regular', sans-serif;
    font-size: 20px;
    color: var(--textcolor);
}

.cv{
    display: flex;
    gap: 1rem;
}

.linkContactCVDowload{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkContactCVDowload svg{
    min-width: 30px;
    min-height: 30px;
}

.linkContact:hover,.linkContactCVDowload:hover{
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 6px var(--flou));
}

/*
.cursor{
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    background-color: var(--colorOver);
    z-index: -1;
    border: none;
    height: 60px;
    width: 60px;
    transition: all 3ms ease-out;
    filter: blur(50px);
}*/

@media (max-width: 1400px) {
    .container{
        width: 750px;
    }
    .allCard{
        grid-template-columns: repeat(2,2fr);
    }
}

@media (max-width: 1100px) {
    .container{
        width: 650px;
    }
    .allCard{
        grid-template-columns: repeat(1,3fr);
    }
    #menu{
        display: block;
        margin-left: 6px;
        width: 45px;
    }
    #menu:before{
        content: "\2630";
        font-size: 3em;
        color: var(--textTitle);
    }
    .active #menu:before{
        content: "\2715";
        font-size: 3em;
        color: var(--textTitle);
    }
    #top ul{
        z-index: 1000;
        position: fixed;
        left: -100%;
        top: 130px;
        flex-direction: column;
        background: var(--background);
        width: 15em;
        border-radius: 0 20px 20px 0;
        border-width: 0.5px 0.5px 0.5px 0;
        border-style: solid;
        border-color:var(--border);
        transition: .3s;
    }
    #top ul li{
        margin: 1em 0 1em 0;
        vertical-align: middle;
    }
    #top.active ul{
        left: -31px;
    }
    .nav-link{
        gap: 0;
    }
}

@media (max-width: 850px) {
    .container{
        width: 400px;
        height: 550px;
    }
    .header{
        flex-direction: column;
        padding: 3em 0 0 0;
    }
    .myProjects{
        padding: 0;
    }
    .box{
        width: 5em;
        height: 5em;
    }
    .allContact{
        gap: 5rem;
    }
    .logo{
        width: 10rem;
        height: 10rem;
    }
    .separator{
        height: 10rem;
    }
    .contactLink{
        width: 10rem;
        height: 10rem;
        gap: 1rem;
    }
    .linkContact,.linkContactCVDowload{
        gap: 0.5rem;
        padding: 0.5rem;
        height: 2.5rem;
    }
    .linkContact{
        padding: 1rem;
    }
    .linkContact svg{
        margin-left: 0.5rem;
        min-width: 20px;
        min-height: 20px;
    }
    .linkContact p{
        font-size: 10px;
    }
    .cv{
        gap: 0.5rem;
    }
    .linkContactCVDowload{
        width: 2.5rem;
    }
    .linkContactCVDowload svg{
        min-width: 20px;
        min-height: 20px;
    }
}

@media (max-width: 600px) {
    .container{
        width: 300px;
    }
    .competenceInfo{
        display: grid;
        justify-content: center;
        gap: 3em;
        grid-template-columns: repeat(2,2fr);
    }
    .competenceCat{
        width: 9em;
        margin: 0 auto;
    }
}

@media (max-width: 550px) {
    #menu:before{
        font-size: 2em;
    }
    .active #menu:before{
        font-size: 2em;
    }
    #darkMode{
        width: 4rem;
        height: 2rem;
    }
    #darkModeBtn{
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.25rem;
    }
    #imgMoonBtnDarkMode{
        width: 1rem;
        height: 1rem;
        margin-left: 0.5rem;
    }
    #imgSunBtnDarkMode{
        width: 1rem;
        height: 1rem;
        margin-left: 2.5rem;
    }
    .modeDark{
        transform: translateX(2rem);
    }
    .nav-picture img{
        max-width: 50px;
    }
    #imgHead{
        border-radius: 15px;
    }
    .card{
        border-radius: 1.5rem;
        min-height: 25rem;
        min-width: 320px;
        max-width: 320px;
    }
    .info{
        width: 300px;
    }
    .info h1{
        font-size: 25px;
    }
    .info p{
        font-size: 10px;
    }
    .header-picture img{
        min-width: 250px;
        max-width: 200px;
    }
    .header-picture{
        display: flex;
        justify-content: center;
    }




    .allContact{
        gap: 2rem;
    }
    .logo{
        width: 6rem;
        height: 6rem;
    }
    .separator{
        height: 6rem;
        width: 0.2em;
    }
    .contactLink{
        width: 6rem;
        height: 6rem;
        gap: 0.5rem;
    }
    .linkContact,.linkContactCVDowload{
        gap: 0.25rem;
        padding: 0.75rem;
        height: 1.25rem;
    }
    .linkContact{
        padding: 0.75rem;
    }
    .linkContact img{
        margin-left: 0.25rem;
        width: 0.82rem;
    }
    .linkContact p{
        font-size: 5px;
    }
    .cv{
        gap: 0.25rem;
    }
    .linkContactCVDowload{
        width: 1.25rem;
    }
    .linkContactCVDowload img{
        width: 0.75rem;
    }
}