@import url('https://fonts.googleapis.com/css?family=Rubik Mono One');

:root{
    --background: #111111;
    --textcolor: #EEEEEE;
    --textTitle: #B4B4B4;

    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-icon-color: #FFDE59;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--background);
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-picture{
    max-width: 75px;
}

.nav-link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--textcolor);
    font-family: 'Rubik Mono One', sans-serif;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0090FF;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}

#darkMode{
    background-color: #000000;
    width: 6.5rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

#darkModeBtn{
    background-color: #FFFFFF;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 1.5rem;
    margin-left: 3.85rem;
    z-index: 1;
    transition: transform .3s ease;
}

#imgMoonBtnDarkMode{
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    margin-left: 1rem;
}

#imgSunBtnDarkMode{
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    margin-left: 4rem;
}

.modeDark{
    transform: translateX(-3.5rem);
}

/* Header */
.header{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-between;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

.header-contact{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info h1{
    color: var(--textTitle);
    font-size: 45px;
}

.info p{
    color: var(--text);
}

.contact{
    background-color: var(--button);
    border-radius: 20px;
    padding: 0.2rem 1rem;
}

.contact a{
    color: #000000;
}

.header-picture{
    min-width: 300px;
    max-width: 250px;
}

.header-picture img{
    border-radius: 100px;
}

